<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yourappname">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:label="YourAppName"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:theme="@style/AppTheme">

        <!-- Add your Google Maps API key here -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAcV3se_Gerwg6pKYZGUiY_UzPsuekH-fM" />

        <!-- Other existing configurations -->

    </application>

</manifest>
